/Watchstop/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.idea/.idea.Watchstop/.idea/indexLayout.xml
/Watchstop/bin/Release/MarioChaushki.Watchstop.0.0.4-alpha.nupkg
/Watchstop/obj/Release/MarioChaushki.Watchstop.0.0.4-alpha.nuspec
/.idea/.idea.Watchstop/.idea/misc.xml
/Watchstop/obj/project.assets.json
/Watchstop/obj/project.nuget.cache
/Watchstop/obj/project.packagespec.json
/.idea/.idea.Watchstop/.idea/projectSettingsUpdater.xml
/Watchstop/obj/rider.project.restore.info
/.idea/.idea.Watchstop/.idea/vcs.xml
/Watchstop/obj/Release/net6.0/Watchstop.AssemblyInfo.cs
/Watchstop/obj/Release/net6.0/Watchstop.AssemblyInfoInputs.cache
/Watchstop/obj/Release/net6.0/Watchstop.assets.cache
/Watchstop/obj/Release/net6.0/Watchstop.csproj.AssemblyReference.cache
/Watchstop/obj/Release/net6.0/Watchstop.csproj.CoreCompileInputs.cache
/Watchstop/obj/Release/net6.0/Watchstop.csproj.FileListAbsolute.txt
/Watchstop/obj/Watchstop.csproj.nuget.dgspec.json
/Watchstop/obj/Watchstop.csproj.nuget.g.props
/Watchstop/obj/Watchstop.csproj.nuget.g.targets
/Watchstop/bin/Release/net6.0/Watchstop.deps.json
/Watchstop/bin/Release/net6.0/Watchstop.dll
/Watchstop/obj/Release/net6.0/ref/Watchstop.dll
/Watchstop/obj/Release/net6.0/refint/Watchstop.dll
/Watchstop/obj/Release/net6.0/Watchstop.dll
/Watchstop/obj/Release/net6.0/Watchstop.GeneratedMSBuildEditorConfig.editorconfig
/Watchstop/obj/Release/net6.0/Watchstop.GlobalUsings.g.cs
/Watchstop/bin/Release/net6.0/Watchstop.pdb
/Watchstop/obj/Release/net6.0/Watchstop.pdb
/Watchstop.sln.DotSettings.user
/.idea/.idea.Watchstop/.idea/workspace.xml
